target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Eclipse ###
.classpath
.project
.settings
.springBeans
.sts4-cache

application-dev.properties

### VS Code <3 ###
.vscode/
.DS_Store